# Cache and build files
.ruff_cache/
.pytest_cache/
__pycache__/
node_modules/
dist/
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# Firebase
**/.firebase/

